body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.controls {
    margin-bottom: 20px;
}

#mazeCanvas {
    border: 2px solid white;
}
