body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}

#game {
    text-align: center;
}

.header {
    margin-bottom: 10px;
}

.title {
    font-size: 80px;
    margin: 0;
    color: #776e65;
}

.score-container {
    font-size: 18px;
    color: #776e65;
}

#grid-container {
    display: inline-block;
    background: #bbada0;
    border-radius: 6px;
    padding: 10px;
}

.grid {
    width: 360px;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.grid-cell {
    width: 80px;
    height: 80px;
    background: #cdc1b4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #776e65;
}
