body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #70c5ce;
}

canvas {
    border: 1px solid #333;
    background-color: #fff;
}
